GRAFANA_SMTP_USER=your-email@example.com
GRAFANA_SMTP_PASSWORD=your-gmail-app-password

JWT_SECRET=your-jwt-secret-here

RABBITMQ_USERNAME=your-rabbitmq-username
RABBITMQ_PASSWORD=your-rabbitmq-password

DB_PASSWORD=your-database-password